.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #2C3E50; /* Darker navy blue */
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a, .navbar button {
  color: #ECF0F1; /* White */
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.navbar button {
  background-color: #D35400; /* Darker Matte Orange */
  border: none;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #A04000; /* Even Darker Matte Orange */
}

.content {
  padding: 2rem;
}

.section {
  margin-top: 2rem;
}
