.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #2c3e50;
  padding: 1rem;
}

.navbar a, .navbar button {
  color: #ecf0f1;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar a:hover, .navbar button:hover {
  background-color: #34495e;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
}

.section {
  margin-top: 2rem;
  width: 80%;
}

.members-container,
.legislation-container {
  background-color: #34495E;
  color: #ECF0F1;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
}

.members-container ul,
.legislation-container ul {
  list-style: none;
  padding: 0;
}

.members-container li,
.legislation-container li {
  border-bottom: 1px solid #ecf0f1;
  padding: 0.5rem 0;
}
